<footer id="footer">

    <div id="meta">
        <div class="container">

            <div class="row">

                <div class="col-md-6">

                    <nav class="nav flex-column">
                        <f:link.page pageUid="32">Datenschutz</f:link.page>
                        <f:link.page pageUid="33">Impressum</f:link.page>
                    </nav>

                </div>

                <div class="col-md-6">

                    <p class="text-right">Der Hof Wessels ist ein Projekt der Hertener Bürgerstiftung.</p>

                </div>

            </div>

        </div>
    </div>

    <div id="copyright" role="contentinfo">
        <div class="container">
            <p>
                Copyright &copy;
                <f:format.date date="now" format="Y" /> Hertener Bürgerstiftung. Alle Rechte vorbehalten.
            </p>

        </div>
    </div>

</footer>